@import "./styles/globals.css";

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font: 16px/1.5 var(--sans);
  color: var(--text-color);
  background-color: var(--bg-color);
}
